<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_nEDVkwoR-E_gJZPwcNdBZUmPnnRyF9w</string>
	<key>GCM_SENDER_ID</key>
	<string>757197104389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esmatullah.newsApp</string>
	<key>PROJECT_ID</key>
	<string>news-app-d805a</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-d805a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757197104389:ios:09c16889454372cc5fc36c</string>
</dict>
</plist>